html {
  height: 100%;
  width: 100%;
  margin: 0;
}
a:link {
  color: #fff;
  text-decoration: underline;
}
a:visited {
  color: #fff;
  text-decoration: underline;
}
a:active {
  color: #fff;
  text-decoration: underline;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;
}
input,
select,
textarea {
  background: #004284;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  border: 1px #fc0 solid;
}
.border {
  background: #fc0;
}
.main {
  background: #004284;
  border: #fc0 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  color: #fff;
  margin: 0;
  padding: 0;
}
.logo {
  width: auto;
}
.maintext {
  width: auto;
  border-top: #fc0 1px solid;
  padding: 1em;
}
.svg-logo {
  width: 300px;
  height: auto;
}
.title {
  width: auto;
  margin: auto;
}
body {
  background: #369;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}
